[workspace]
members = ["kicodex-core", "kicodex-cli", "kicodex-tray"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "Unlicense"
repository = "https://github.com/fred314159265/KiCodex"
